*{
	margin: 0; 
	padding : 0; 
}
html {
	background-color: white; 
}
body {
	background-color: white; 
}

header {
	padding: 1.5em 0 2em 1.5em;
	background-color : #757575;
	color : white; 

}
header h2 {
	color : white; 
	font-size: 150%;

}
header img{
	float: left; 
	padding: 0 40px;

}


a:focus, a:hover {
	font-style: italic;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 1em 0;
	position: relative;
}
#menu ul li {
	float: left;
}
#menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #757575;
    color: white;
    font-weight: bold;
}

#menu ul li:hover > ul {
	display: block;
}

/* cards rulers*/ 
.container{
	display: flex;                
    justify-content: center;      
    flex-wrap: wrap;              
	padding: 20px;
}
.card{
	margin: 5px; 
	padding: 10px 10px; 
	background-color: #511418; 
	color: white; 
	flex: 0 1 300px; 
}
footer {
	 text-align: center;
}