/* Nada Atshan, IS117-001-P4 */ 
*{
	margin: 0; 
	padding : 0; 
}

body {
	background-color: white; 
}

header {
	background-color : #A5A9B4;
	color : white; 

}
header img{
	float: left; 
}

main img {
	margin : center; 
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#menu ul li {
	float: right;
}
#menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #A5A9B4;
    color: white;
    font-weight: bold;
}

#menu ul li:hover > ul {
	display: block;
}

footer {
	 text-align: center;
}
