/* Nada Atshan, IS117-001-P4 */ 

*{
	margin: 0; 
	padding : 0; 
}
html {
	background-color: white; 
}
body {
	background-color: white; 
}

header {
	padding: 1.5em 0 2em 1.5em;
	background-color : #757575;
	color : white; 

}
header h2 {
	color : white; 
	font-size: 150%;

}
header img{
	float: left; 
	padding: 0 40px;
	border: 2px bold black;
	

}

main img {
	margin : 30px 30px; 
	padding : 30px 30px; 
	border: 4px sloid black;
}

a:focus, a:hover {
	font-style: italic;
}

#menu ul {
	list-style-type: none;
	margin: 15px 0;
	padding: 3em;
	position: relative;
}
#menu ul li {
	float: left;
}
#menu ul li a {
    display: block;
    width: 200px;
    text-align: center;
    padding: 4em 0;
    text-decoration: none;
    background-color: #757575;
    color: white;
    font-weight: bold;
}

#menu ul li:hover > ul {
	display: block;
}

footer {
	 text-align: center;
}